@import "compass/css3",
				"normalize",
				"typography";

html,
body {
	height: 100%;
	overflow-x: hidden;
	background: white;
}

.container {
	width: 50%;
	min-width: 320px;
	margin: 0 auto;
}

h1 {
	font-size: 60px;
}

a {
	color: #c00;
	text-decoration: none;
}

@import "syntax";